* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.main-container {
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 20px;
    margin-top:62px;
    padding: 10px;
    background-color:linear-gradient(beige, white);
    border-top: 10px dotted rgb(0, 0, 0, 80%)
    
}

.navbar {
    overflow:hidden;
    position:fixed;
    top:0;
    width:100%;
    height:60px;
    background-color: rgb(32, 37, 33);
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    display:block;
    color:white;
    text-align:center;
    padding: 20px 30px;
    text-decoration:none;
    font-size: 35px;
    background-color: rgb(32, 37, 33);
}

.navbar a:hover {
    background-color:rgba(80, 92, 83, 0.355);
    cursor:pointer;
}

.header {
    width: 25%;
    font-size: 7rem;
    text-align:right;
    color: rgb(32, 37, 33);
    margin-left:10px
}

.main-image {
    width:50%
}

.para {
    width:30%;
    font-size: 30px;
    margin-right: 10px;
    text-align:start
}

.menu-container {
    display:flex;
    margin-top: 60px;
}

.menu-items {
    display:flex;
    flex-direction:column;
    margin-left: 3rem;
    border: 1px solid black;
}

.pic-tags {
    width:50%;
}

.pic-tags p {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 40px;
    height: 200px;
    font-size: 20px;
}

.menu-pics {
    height:200px;
    max-width:200px;
}

.sidebar-items {
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.add-ons {
    border: 1px solid black;
    height: 40%;
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
    font-size: 20px;
    background:beige
}

.add-ons > :first-child {
    font-size: 30px;
    font-weight:bold;
}

.basket {
    display:flex;
    background: linear-gradient(#386e33, white)
}

.contact-info {
    width:50%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    line-height:3em;
    text-align:center;
    font-size:30px;
}

.input-form {
    width:50%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

form {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}